.NewsFeed_inner{
  display: flex;
  gap: 50px;
}
.NewsFeed_left{
  width: 70%;
}
.NewsFeed_right{
  width: 30%;
}
.viewComments{
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #a8a8a8;
  margin-bottom: 10px;
  cursor: pointer;
}