.button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600px;
  padding: 7px 21px;
  text-align: center;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #0095f6;
  /* width: 100%; */
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.btn_lightBlue{
  opacity: 70%;
}

.button input{
  position: absolute;
  inset: 0;
  opacity: 0;
}