.comment{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment p{
  width: 80%;
  word-break: break-all;
}
.comment span{
  font-weight: 500;
}
.comment img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}